<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>RPi Relay Control</title>
        <link rel="stylesheet" href="./static/base.css" />
        <script src="./static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="./static/ajaxformv2.js"></script>
        <script src="./static/formsub.js"></script>
    </head>
    <body>
        <div id='main'>
            {% for sw in switches %}
            <div class='elem'>
                <div>{{ sw.name }}</div>
                <div>
                    <form method='POST' action='/set' onchange="form_change(this);" enctype="multipart/form-data">
                        <label class="switch">
                            <input name='state' type="checkbox" {% if sw.state %}checked {% endif %} />
                            <span class="slider round {% if sw.state %}checked {% endif %}"></span>
                        </label>
                        <input name='index' type="hidden" value="{{ sw.index }}" />
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
